.slogan {
    font-size: 30px;
}

section {
    margin: 100px 0;
}

.feature-icon {
    font-size: 48px;
}

#feature p {
    text-align: justify;
}

span.code {
    background-color: #DCDCDC;
    padding: 2px 6px;
}

p.code {
    background-color: #282b2e;
    color: #a9b7c6;
    padding: 14px 30px;
    font-size: 18px;
}

.code-keyword {
    color: #cc7832;
}

.code-variable {
    color: #ffc66d;
}

.code-string {
    color: #6A8759;
}

.code-number {
    color: #6897BB;
}

.code-bool {
    color: #78A960;
}

#syntax-button {
    margin-top: 40px;
}

.syntax-section {
    margin-top: 30px;
    margin-bottom: 50px;
}

footer {
    margin-top: 180px;
    padding-bottom: 30px;
}

@media screen and (min-width: 993px) {
    .brand-logo {
        margin-left: 20px;
    }
}